name: Metrics
on:
  schedule: 
    - cron: "0 0 * * *"  # Daily at midnight UTC
  workflow_dispatch:
  push: 
    branches: ["master", "main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Main metrics
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Daniel-Saravia
          
      # Isometric calendar
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Daniel-Saravia
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_display: large
          config_timezone: America/New_York
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member
          users_ignored: ""
          commits_authoring: Daniel-Saravia, daniel-saravia
          use_prebuilt_action: no
          experimental_features: --optimize
